* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.display-4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 0px 0px 10px #FFFFFF;
}

.jumbotron h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px #FFFFFF;
}

.jumbotron h2:nth-of-type(2) {
    margin-bottom: 30px;
}

#portalButton {
    color: #fff;
    background-color: #69c8ec;
    border-color: #808080;
    outline: none;
    color: #000;
}

#portalButton:hover {
    background-color: #97ce4c;
}

.btn h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0;
}

#links {
    text-align: left;
    margin-top: 0;
}

#imageContainer {
    margin-top: 0;
}

#imageLogo {
    width: 500px;
    height: 150px;
}

